# Entorno virtual de Python
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Base de datos local (SQLite)
*.db
*.sqlite3
instance/

# Archivos de sesión y variables de entorno
.env
.flaskenv

# Logs y volcados de depuración
*.log

# Archivos de configuración de editores
.vscode/
.idea/
cloudflared.exe

