# Archivos de Cloudflared y ejecutables pesados
cloudflared.exe
*.exe
*.zip

# Credenciales y archivos secretos
.secret_key
.credenciales_iniciales.txt
.env

# Bases de datos y archivos temporales de SQLite
*.db
*.sqlite3
instance/*.db-shm
instance/*.db-wal

# Caché de Python
__pycache__/
*.pyc

# Entornos virtuales
venv/

# Carpetas de datos generados y subidas de usuarios
static/uploads/
static/recibos/
static/boletines/
static/recibos_personal/*.pdf
logs/

# Archivos de la aplicación
*.avr