.secret_key
.credenciales_iniciales.txt
*.db
__pycache__/
*.pyc
.env
venv/
static/uploads/
static/recibos/
static/boletines/
logs/
instance/*.db-shm
instance/*.db-wal

*.avr

static/recibos_personal/*.pdf
*.db
__pycache__/
